header {
    nav {
        position: relative;

        .active {
            border-bottom: 1.5px solid black;
            font-weight: bold;
        }

        img {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 1.25rem;
        }
    }
}

@media (min-width: 768px) {
    header {
        nav {
            img {
                width: 2rem;
            }
        }
    }
    
}